<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TriggerWarnings.info</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/vendor.css">
        <script src="javascripts/vendor.js"></script>
        <script src="javascripts/templates.js"></script>
        <script src="javascripts/main.js"></script>
    </head>
    <body ng-app="triggerWarningsApp">
        <toast></toast>
        <div class="container">
            <div ui-view></div>
        </div>
    </body>
</html>