<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lola's Surgery Scoreboard</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/bower.css">
        <script src="javascripts/bower.js"></script>
        <script src="javascripts/templates.js"></script>
        <script src="javascripts/main.js"></script>
    </head>
    <body ng-app="superScoreboardApp">
        <div class="col-md-6 col-md-offset-3">
            <div ui-view></div>
        </div>
    </body>
</html>